<h4>#{{input value=pokemon.nationalPokeNum}} : {{input value=pokemon.name}}</h4>
<p> Generation: {{input value=pokemon.generation}} </p>
<button {{action 'updatePokemon'}}>EDIT</button>
<button {{action 'destroyPokemon'}}>DESTROY</button>
<p>
  Type(s): {{input value=pokemon.typeOne}}
  {{#if twoTypes}}
    / {{input value=pokemon.typeTwo}}
  {{/if}}
</p>
