<hr>
<div>
{{#unless isEditable}}
  <p>A {{sighting.pokemon.name}} was seen at {{sighting.location}}</p>
  <p>on {{sighting.observationTime}}
    {{#if sighting.observer}} by {{sighting.observer}}{{/if}}.
  </p>
{{else}}
  <p> Pokemon:
      {{input placeholder=pokemonName value=pokemonName}}</p>
  <p> Location:
      {{input placeholder=sighting.location value=sighting.location}}</p>
  <p> Observer:
      {{input placeholder=sighting.observer value=sighting.observer}}</p>
  <button {{action 'updateSighting'}}>EDIT</button>
  <button {{action 'destroySighting'}}>DESTROY</button>
{{/unless}}
</div>
