<h5> Add a Pokemon to the directory! </h5>
{{input placeholder='National Pokemon Number'
        valueBinding='view.newPokemon.nationalPokeNum'}}
{{input placeholder='Name'
        valueBinding='view.newPokemon.name'}}
{{input placeholder='Type One'
        valueBinding='view.newPokemon.typeOne'}}
{{input placeholder='Type Two'
        valueBinding='view.newPokemon.typeTwo'}}
{{input placeholder='Generation'
        valueBinding='view.newPokemon.generation'}}
<button {{action 'createPokemon' view.newPokemon}}> Add a New Pokemon </button>

{{#link-to 'pokemon'}}Back{{/link-to}}
