<td>{{input value=item.name}}</td>
<td>{{input value=item.category}}</td>
<td>{{input value=item.effect}}</td>

<td><button {{action 'updateItem'}}>Save</button></td>
<td><button {{action 'destroyItem'}}>X</button></td>
